
@media (max-width: 1200px) {
  #master .master--no__so {
    width: 27%;
  }

  #choice .choice--group {
    width: 55%;
  }


}

@media (max-width: 1024px) {
  #reviews .reviews--block {
    width: 33%;
  }

  #contact .contact--block {
    width: 23%;
  }


}

@media (max-width: 992px) {
  #contact .contact--block {
    width: 25%;
  }
}

@media (max-width: 768px) {
  #hero{
    padding-bottom: 100px;
    .hero{
      justify-content: center;
      &--block{
        z-index: 1;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(2px);
      }
      img{
        position: absolute;
        top: 80px;
      }
    }
  }

  #courses .courses--block__swiper button {
    margin-top: 23px;
  }


  #webinars .webinars--block__var {
    width: 48%;
    height: 500px;
    flex-wrap: wrap-reverse;
    button{
      margin-top: 20px;
    }
  }

  #master .master--no {
    flex-wrap: wrap;
    &__so {
      width: 40%;
      margin-top: 20px;
    }
  }

  #choice .choice{
    flex-direction: column;
    align-items: start;
    &--group {
      width: 90%;
      margin-top: 20px;
    }
  }

  #reviews .reviews {
    flex-wrap: wrap;
    &--block {
      width: 47%;
      margin: 40px 10px 0;
    }
  }

  #contact .contact {
    flex-wrap: wrap;
    img{
      margin-right: 80%;
    }

    &--block{
      width: 30%;
      margin-top: 20px;
    }
  }

  #footer {
    padding: 0 0;
  }

}

@media (max-width: 576px) {
  #header{
    .navbar{
      &--nav{
        display: none;
      }
      &--len{
        display: none;
      }
      .open-close-menu{
        display: block;
      }
    }
  }
  #master .master--no__so--got {
    align-items: flex-start;
    block__var {
      width: 58%;
    }
      #master .master--no__so {
        width: 63%;
      }
    #webinars .webinars--block {
      justify-content: center;}
    #reviews .reviews {
      justify-content: center;}

    #contact .contact--block {
      width: 52%;
    }

}


@media (max-width: 450px) {
  #webinars .webinars--block__var {
    width: 75%}

  element.style {
    width: 421.882p}
  #master .master--no__so {
    width: 91%;}
  #reviews .reviews--block {
    width: 93%;}
  #contact .contact--block {
    width: 59%;}

}

@media (max-width: 402px) {

  element.style {
    width: 379.412px;}
  #webinars .webinars--block__var {
    width: 100%;}

  #hero .hero img {
    top: 130px;
    width: 80%;
  }
}

@media (max-width: 375px) {

  element.style {
    width: 368.471px;
}

@media (max-width: 320px) {

  element.style {
    width: 354.059px;}
}